<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News</title>
  </head>
  <body>
    <%- include ('blocks/header.ejs') %>
    <div class="block">
      <h1>News Page ID - <%= newsId %></h1>
      <p><b>Title:</b><%= obj.title %></p>
      <p><b>ID:</b><%= obj.id %></p>
      <p>
        Proident irure laboris sit eu et eu sunt magna deserunt. Tempor labore
        occaecat enim excepteur ad sit laboris. Quis ex dolor reprehenderit ad
        veniam cupidatat eu esse tempor.
      </p>
      <ul>
        <% obj.paragraphs.forEach((item) => {%>
        <li><%= item %></li>
        <%}) %>
      </ul>
    </div>
  </body>
</html>
